<div class="productsCart">
    <div class="productsCart__header">
      <h2>Products</h2>
    </div>
  
    <div class="productsCart__items">
      @for (product of products; track $index) {
        <div class="productsCart__item">
          <div class="productsCart__item__img">
            <img src="{{product.image}}" alt="Product Image" />
          </div>
          <div class="productsCart__item__info">
            <h3>{{product.productName}}</h3>
            <p>{{product.productDescription}}</p>
            <p>Price: {{product.productPrice}}</p>
            <button>Add to Cart</button>
          </div>
        </div>
      }
    </div>
  </div>
  