.productsCart__header{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 2%;
}
.productsCart__items {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 50px;
  }
  
  
  
  